.skin-button-willsilver-lite {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 30px; PADDING-LEFT: 5px; ZOOM: 1; HEIGHT: 32px; COLOR: #8e8e8e; OVERFLOW: hidden; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.skin-button-willsilver-lite .ui-button-bg-left {
	POSITION: absolute; WIDTH: 5px; DISPLAY: block; HEIGHT: 32px; TOP: 0px; LEFT: 0px
}
.skin-button-willsilver-lite .ui-button-label {
	PADDING-RIGHT: 5px; HEIGHT: 32px
}
.skin-button-willsilver-lite .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left 0px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left 0 no-repeat
}
.skin-button-willsilver-lite .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right 0px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right 0 no-repeat
}
.skin-button-willsilver-lite-hover .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -50px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -50px no-repeat
}
.skin-button-willsilver-lite-hover .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -50px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -50px no-repeat
}
.skin-button-willsilver-lite-press {
	LINE-HEIGHT: 31px; COLOR: #a9aaab
}
.skin-button-willsilver-lite-press .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -100px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -100px no-repeat
}
.skin-button-willsilver-lite-press .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -100px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -100px no-repeat
}
.skin-button-willsilver-lite-disabled {
	CURSOR: default
}
.skin-button-willsilver-lite-disabled .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -150px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -150px no-repeat
}
.skin-button-willsilver-lite-disabled .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -150px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -150px no-repeat
}
.pre-style-willsilver-lite {
	TEXT-INDENT: -9999px; HEIGHT: 32px; OVERFLOW: hidden
}
.skin-button-willsilver {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 37px; PADDING-LEFT: 5px; ZOOM: 1; HEIGHT: 39px; COLOR: #8e8e8e; OVERFLOW: hidden; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.skin-button-willsilver .ui-button-bg-left {
	POSITION: absolute; WIDTH: 5px; DISPLAY: block; HEIGHT: 39px; TOP: 0px; LEFT: 0px
}
.skin-button-willsilver .ui-button-label {
	PADDING-RIGHT: 5px; HEIGHT: 39px
}
.skin-button-willsilver .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -200px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -200px no-repeat
}
.skin-button-willsilver .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -200px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -200px no-repeat
}
.skin-button-willsilver-hover .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -250px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -250px no-repeat
}
.skin-button-willsilver-hover .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -250px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -250px no-repeat
}
.skin-button-willsilver-press {
	LINE-HEIGHT: 38px; COLOR: #a9aaab
}
.skin-button-willsilver-press .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -300px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -300px no-repeat
}
.skin-button-willsilver-press .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -300px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -300px no-repeat
}
.skin-button-willsilver-disabled {
	CURSOR: default
}
.skin-button-willsilver-disabled .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -350px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -350px no-repeat
}
.skin-button-willsilver-disabled .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -350px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -350px no-repeat
}
.pre-style-willsilver {
	TEXT-INDENT: -9999px; HEIGHT: 39px; OVERFLOW: hidden
}
.skin-button-willblue-lite {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; ZOOM: 1; HEIGHT: 27px; COLOR: #fff; OVERFLOW: hidden; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.skin-button-willblue-lite .ui-button-bg-left {
	POSITION: absolute; WIDTH: 5px; DISPLAY: block; HEIGHT: 27px; TOP: 0px; LEFT: 0px
}
.skin-button-willblue-lite .ui-button-label {
	PADDING-RIGHT: 5px; HEIGHT: 27px
}
.skin-button-willblue-lite .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -400px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -400px no-repeat
}
.skin-button-willblue-lite .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -400px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -400px no-repeat
}
.skin-button-willblue-lite-hover .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -450px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -450px no-repeat
}
.skin-button-willblue-lite-hover .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -450px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -450px no-repeat
}
.skin-button-willblue-lite-press {
	LINE-HEIGHT: 26px; COLOR: #a1b5c2
}
.skin-button-willblue-lite-press .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -500px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -500px no-repeat
}
.skin-button-willblue-lite-press .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -500px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -500px no-repeat
}
.skin-button-willblue-lite-disabled {
	CURSOR: default
}
.skin-button-willblue-lite-disabled .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -550px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -550px no-repeat
}
.skin-button-willblue-lite-disabled .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -550px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -550px no-repeat
}
.pre-style-willblue-lite {
	TEXT-INDENT: -9999px; HEIGHT: 27px; OVERFLOW: hidden
}
.skin-button-willblue {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 37px; PADDING-LEFT: 5px; ZOOM: 1; HEIGHT: 39px; COLOR: #fff; OVERFLOW: hidden; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.skin-button-willblue .ui-button-bg-left {
	POSITION: absolute; WIDTH: 5px; DISPLAY: block; HEIGHT: 39px; TOP: 0px; LEFT: 0px
}
.skin-button-willblue .ui-button-label {
	PADDING-RIGHT: 5px; HEIGHT: 39px
}
.skin-button-willblue .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -600px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -600px no-repeat
}
.skin-button-willblue .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -600px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -600px no-repeat
}
.skin-button-willblue-hover .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -650px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -650px no-repeat
}
.skin-button-willblue-hover .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -650px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -650px no-repeat
}
.skin-button-willblue-press {
	LINE-HEIGHT: 38px; COLOR: #a1b5c2
}
.skin-button-willblue-press .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -700px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -700px no-repeat
}
.skin-button-willblue-press .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -700px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -700px no-repeat
}
.skin-button-willblue-disabled {
	CURSOR: default
}
.skin-button-willblue-disabled .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -750px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -750px no-repeat
}
.skin-button-willblue-disabled .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -750px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -750px no-repeat
}
.pre-style-willblue {
	TEXT-INDENT: -9999px; HEIGHT: 39px; OVERFLOW: hidden
}
.skin-button-willblue-mid {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 30px; PADDING-LEFT: 5px; ZOOM: 1; HEIGHT: 32px; COLOR: #fff; OVERFLOW: hidden; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.skin-button-willblue-mid .ui-button-bg-left {
	POSITION: absolute; WIDTH: 5px; DISPLAY: block; HEIGHT: 32px; TOP: 0px; LEFT: 0px
}
.skin-button-willblue-mid .ui-button-label {
	PADDING-RIGHT: 5px; HEIGHT: 32px
}
.skin-button-willblue-mid .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -1000px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -1000px no-repeat
}
.skin-button-willblue-mid .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -1000px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -1000px no-repeat
}
.skin-button-willblue-mid-hover .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -1050px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -1050px no-repeat
}
.skin-button-willblue-mid-hover .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -1050px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -1050px no-repeat
}
.skin-button-willblue-mid-press {
	LINE-HEIGHT: 31px; COLOR: #a1b5c2
}
.skin-button-willblue-mid-press .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -1100px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -1100px no-repeat
}
.skin-button-willblue-mid-press .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -1100px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -1100px no-repeat
}
.skin-button-willblue-mid-disabled {
	CURSOR: default
}
.skin-button-willblue-mid-disabled .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -1150px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -1150px no-repeat
}
.skin-button-willblue-mid-disabled .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -1150px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -1150px no-repeat
}
.pre-style-willblue-mid {
	TEXT-INDENT: -9999px; HEIGHT: 32px; OVERFLOW: hidden
}
.skin-button-willlight {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 37px; PADDING-LEFT: 5px; ZOOM: 1; HEIGHT: 39px; COLOR: #7c7c7c; OVERFLOW: hidden; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.skin-button-willlight .ui-button-bg-left {
	POSITION: absolute; WIDTH: 5px; DISPLAY: block; HEIGHT: 39px; TOP: 0px; LEFT: 0px
}
.skin-button-willlight .ui-button-label {
	PADDING-RIGHT: 5px; HEIGHT: 39px
}
.skin-button-willlight .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -800px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -800px no-repeat
}
.skin-button-willlight .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -800px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -800px no-repeat
}
.skin-button-willlight-hover {
	COLOR: #444
}
.skin-button-willlight-hover .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -850px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -850px no-repeat
}
.skin-button-willlight-hover .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -850px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -850px no-repeat
}
.skin-button-willlight-press {
	LINE-HEIGHT: 38px
}
.skin-button-willlight-disabled {
	CURSOR: default
}
.skin-button-willlight-disabled .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -800px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -800px no-repeat
}
.skin-button-willlight-disabled .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -800px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -800px no-repeat
}
.pre-style-willlight {
	TEXT-INDENT: -9999px; HEIGHT: 39px; OVERFLOW: hidden
}
.skin-button-willlight-lite {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; ZOOM: 1; HEIGHT: 27px; COLOR: #7c7c7c; OVERFLOW: hidden; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.skin-button-willlight-lite .ui-button-bg-left {
	POSITION: absolute; WIDTH: 5px; DISPLAY: block; HEIGHT: 27px; TOP: 0px; LEFT: 0px
}
.skin-button-willlight-lite .ui-button-label {
	PADDING-RIGHT: 5px; HEIGHT: 27px
}
.skin-button-willlight-lite .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -900px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -900px no-repeat
}
.skin-button-willlight-lite .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -900px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -900px no-repeat
}
.skin-button-willlight-lite-hover {
	COLOR: #444
}
.skin-button-willlight-lite-hover .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -950px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -950px no-repeat
}
.skin-button-willlight-lite-hover .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -950px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -950px no-repeat
}
.skin-button-willlight-lite-press {
	LINE-HEIGHT: 26px
}
.skin-button-willlight-lite-disabled {
	CURSOR: default
}
.skin-button-willlight-lite-disabled .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -900px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -900px no-repeat
}
.skin-button-willlight-lite-disabled .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -900px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -900px no-repeat
}
.pre-style-willlight-lite {
	TEXT-INDENT: -9999px; HEIGHT: 27px; OVERFLOW: hidden
}
.skin-button-willsilver-large {
	POSITION: relative; TEXT-ALIGN: center; LINE-HEIGHT: 70px; PADDING-LEFT: 5px; ZOOM: 1; HEIGHT: 70px; COLOR: #8e8e8e; OVERFLOW: hidden; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.skin-button-willsilver-large .ui-button-bg-left {
	POSITION: absolute; WIDTH: 5px; DISPLAY: block; HEIGHT: 70px; TOP: 0px; LEFT: 0px
}
.skin-button-willsilver-large .ui-button-label {
	PADDING-RIGHT: 5px; HEIGHT: 70px
}
.skin-button-willsilver-large .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -1200px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -1200px no-repeat
}
.skin-button-willsilver-large .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -1200px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -1200px no-repeat
}
.skin-button-willsilver-large-hover .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -1300px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -1300px no-repeat
}
.skin-button-willsilver-large-hover .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -1300px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -1300px no-repeat
}
.skin-button-willsilver-large-press {
	LINE-HEIGHT: 70px; COLOR: #a9aaab
}
.skin-button-willsilver-large-press .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -1400px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -1400px no-repeat
}
.skin-button-willsilver-large-press .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -1400px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -1400px no-repeat
}
.skin-button-willsilver-large-disabled {
	CURSOR: default
}
.skin-button-willsilver-large-disabled .ui-button-bg-left {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat left -1500px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) left -1500px no-repeat
}
.skin-button-willsilver-large-disabled .ui-button-label {
	BACKGROUND: url(/sky/img/_will/button-bg.$5826.png) no-repeat right -1500px; _background: url(/sky/img/_will/button-bg-ie.$5826.png) right -1500px no-repeat
}
.pre-style-willsilver-large {
	TEXT-INDENT: -9999px; HEIGHT: 70px; OVERFLOW: hidden
}
.skin-text-willwhite {
	BORDER-BOTTOM: #b1b3b5 1px solid; BORDER-LEFT: #c9cacc 1px solid; PADDING-BOTTOM: 9px; LINE-HEIGHT: 18px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 8px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 8px; BACKGROUND: #f7f8f8; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #c9cacc 1px solid; BORDER-RIGHT: #c9cacc 1px solid; PADDING-TOP: 9px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 0 1px 1px #C9CACC
}
.skin-textarea-willwhite {
	BORDER-BOTTOM: #b1b3b5 1px solid; BORDER-LEFT: #c9cacc 1px solid; PADDING-BOTTOM: 9px; LINE-HEIGHT: 18px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 8px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 8px; BACKGROUND: #f7f8f8; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #c9cacc 1px solid; BORDER-RIGHT: #c9cacc 1px solid; PADDING-TOP: 9px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 0 1px 1px #C9CACC
}
.skin-textarea-willwhite {
	resize: vertical
}
.skin-text-willwhite-hover {
	BORDER-BOTTOM: #a1a3a5 1px solid; BACKGROUND: #fff; COLOR: #444
}
.skin-textarea-willwhite-hover {
	BORDER-BOTTOM: #a1a3a5 1px solid; BACKGROUND: #fff; COLOR: #444
}
.skin-text-willwhite-focus {
	BORDER-BOTTOM: #a1a3a5 1px solid; BACKGROUND: #fff; COLOR: #444
}
.skin-textarea-willwhite-focus {
	BORDER-BOTTOM: #a1a3a5 1px solid; BACKGROUND: #fff; COLOR: #444
}
.skin-text-willwhite-disabled {
	BACKGROUND: #e6e8e9; COLOR: #999
}
.skin-textarea-willwhite-disabled {
	BACKGROUND: #e6e8e9; COLOR: #999
}
.skin-text-willwhite-virtual {
	COLOR: #aaa
}
.pre-style-text-willwhite {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 0; HEIGHT: 38px; VISIBILITY: hidden; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.skin-text-willwhite-lite {
	BORDER-BOTTOM: #b1b3b5 1px solid; BORDER-LEFT: #c9cacc 1px solid; PADDING-BOTTOM: 9px; LINE-HEIGHT: 18px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 8px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 8px; BACKGROUND: #f7f8f8; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #c9cacc 1px solid; BORDER-RIGHT: #c9cacc 1px solid; PADDING-TOP: 9px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 0 1px 1px #C9CACC
}
.skin-textarea-willwhite-lite {
	BORDER-BOTTOM: #b1b3b5 1px solid; BORDER-LEFT: #c9cacc 1px solid; PADDING-BOTTOM: 9px; LINE-HEIGHT: 18px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 8px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 8px; BACKGROUND: #f7f8f8; HEIGHT: 18px; COLOR: #666; FONT-SIZE: 12px; OVERFLOW: hidden; BORDER-TOP: #c9cacc 1px solid; BORDER-RIGHT: #c9cacc 1px solid; PADDING-TOP: 9px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; box-shadow: 0 1px 1px #C9CACC
}
.skin-textarea-willwhite-lite {
	resize: vertical
}
.skin-text-willwhite-lite-hover {
	BORDER-BOTTOM: #a1a3a5 1px solid; BACKGROUND: #fff; COLOR: #444
}
.skin-textarea-willwhite-lite-hover {
	BORDER-BOTTOM: #a1a3a5 1px solid; BACKGROUND: #fff; COLOR: #444
}
.skin-text-willwhite-lite-focus {
	BORDER-BOTTOM: #a1a3a5 1px solid; BACKGROUND: #fff; COLOR: #444
}
.skin-textarea-willwhite-lite-focus {
	BORDER-BOTTOM: #a1a3a5 1px solid; BACKGROUND: #fff; COLOR: #444
}
.skin-text-willwhite-lite-disabled {
	BACKGROUND: #e6e8e9; COLOR: #999
}
.skin-textarea-willwhite-lite-disabled {
	BACKGROUND: #e6e8e9; COLOR: #999
}
.skin-text-willwhite-lite-virtual {
	COLOR: #aaa
}
.pre-style-text-willwhite-lite {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 0; HEIGHT: 38px; VISIBILITY: hidden; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.dd-photo-reply {
	WIDTH: 18px; DISPLAY: block; BACKGROUND: url(/img/icon/photo-reply.$6083.png) no-repeat; HEIGHT: 14px; OVERFLOW: hidden
}
.on.dd-photo-reply {
	BACKGROUND-POSITION: 0px -14px
}
.selected.dd-photo-reply {
	BORDER-BOTTOM: #494949 1px solid; BORDER-LEFT: #494949 1px solid; WIDTH: 16px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 12px; BORDER-TOP: #494949 1px solid; BORDER-RIGHT: #494949 1px solid
}
.dd-photo-reply IMG {
	WIDTH: 16px
}
BODY {
	FONT-SIZE: 0px
}
#wrapper {
	WORD-WRAP: break-word; FONT-SIZE: 12px
}
.notes {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #ffffff; PADDING-TOP: 20px
}
.notes .publisher {
	POSITION: relative; ZOOM: 1
}
.notes .publisher .comment {
	Z-INDEX: 1; POSITION: relative; PADDING-RIGHT: 78px
}
.notes .publisher .comment .skin-textarea-notes {
	BORDER-BOTTOM: #dedede 1px solid; BORDER-LEFT: #dedede 1px solid; PADDING-BOTTOM: 24px; LINE-HEIGHT: 24px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 8px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 8px; BACKGROUND: #fff; HEIGHT: 33px; COLOR: #444; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #dedede 1px solid; BORDER-RIGHT: #dedede 1px solid; PADDING-TOP: 8px; box-shadow: inset 0 1px 3px #DCDCDC; resize: none
}
.notes .publisher .comment .skin-textarea-notes-hover {
	BORDER-BOTTOM: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-RIGHT: #c0c0c0 1px solid
}
.notes .publisher .comment .skin-textarea-notes-focus {
	BORDER-BOTTOM: #c0c0c0 1px solid; BORDER-LEFT: #c0c0c0 1px solid; BORDER-TOP: #c0c0c0 1px solid; BORDER-RIGHT: #c0c0c0 1px solid
}
.notes .publisher .comment .skin-textarea-notes-disabled {
	BACKGROUND: #fafafa; COLOR: #ccc
}
.notes .publisher .comment .skin-textarea-notes-virtual {
	COLOR: #999
}
.notes .publisher .comment .pre-notes-textarea {
	DISPLAY: none
}
.notes .publisher .submit {
	Z-INDEX: 2; POSITION: absolute; TOP: 0px; RIGHT: 0px
}
.notes .publisher .submit .skin-button-notes {
	TEXT-ALIGN: center; LINE-HEIGHT: 65px; WIDTH: 68px; BACKGROUND: url(/img/theme/notes/submit.$5627.png) -100px -100px; HEIGHT: 67px; COLOR: #8c8c8c; CURSOR: pointer
}
.notes .publisher .submit .skin-button-notes-hover {
	BACKGROUND-POSITION: -200px -100px; COLOR: #444
}
.notes .publisher .submit .skin-button-notes-press {
	LINE-HEIGHT: 67px; BACKGROUND-POSITION: -300px -100px; COLOR: #9a9a9a
}
.notes .publisher .submit .skin-button-notes-disabled {
	BACKGROUND-POSITION: 0px -100px; COLOR: #d3d3d3; CURSOR: default
}
.notes .publisher .submit .pre-notes-button {
	DISPLAY: none
}
.notes .publisher .submit-radius .skin-button-notes {
	BACKGROUND-POSITION: -100px 0px
}
.notes .publisher .submit-radius .skin-button-notes-hover {
	BACKGROUND-POSITION: -200px 0px
}
.notes .publisher .submit-radius .skin-button-notes-press {
	BACKGROUND-POSITION: -300px 0px
}
.notes .publisher .submit-radius .skin-button-notes-disabled {
	BACKGROUND-POSITION: 0px 0px
}
.notes .tabs {
	BORDER-BOTTOM: #d1d1d1 1px dotted; PADDING-BOTTOM: 10px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 15px
}
.notes .tabs LI {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; MARGIN: 0px 10px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; DISPLAY: inline; FLOAT: left; HEIGHT: 20px; COLOR: #969696; CURSOR: pointer; PADDING-TOP: 0px
}
.notes .tabs LI.current {
	PADDING-LEFT: 15px; BACKGROUND: url(/img/theme/notes/corner.$5627.png) no-repeat 2px 8px; COLOR: #444; MARGIN-LEFT: 0px; CURSOR: default
}
.register {
	MIN-WIDTH: 310px; TEXT-ALIGN: center; BACKGROUND: #fff; COLOR: #505050; FONT-SIZE: 14px
}
.register .register-form {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 260px
}
.register .register-tips {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 260px
}
.register .register-tips {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 16px; PADDING-TOP: 20px
}
.register .register-tips A.register-link:link {
	COLOR: #23506f; TEXT-DECORATION: none
}
.register .register-tips A.register-link:active {
	COLOR: #23506f; TEXT-DECORATION: none
}
.register .register-tips A.register-link:visited {
	COLOR: #23506f; TEXT-DECORATION: none
}
.register .register-tips A.register-link:hover {
	COLOR: #23506f; TEXT-DECORATION: none
}
.register .register-count {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #b4b4b4; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.register .register-input {
	BORDER-BOTTOM: #fff 2px solid; POSITION: relative; BORDER-LEFT: #fff 2px solid; MARGIN: 0px auto 5px; WIDTH: 242px; ZOOM: 1; HEIGHT: 32px; CLEAR: both; OVERFLOW: hidden; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid; border-radius: 3px
}
.register .register-input .skin-text-clear {
	BORDER-BOTTOM: #e1e1e1 1px solid; BORDER-LEFT: #e1e1e1 1px solid; PADDING-BOTTOM: 8px; LINE-HEIGHT: 14px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 8px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 8px; BACKGROUND: #fff; HEIGHT: 14px; COLOR: #444; FONT-SIZE: 12px; BORDER-TOP: #e1e1e1 1px solid; BORDER-RIGHT: #e1e1e1 1px solid; PADDING-TOP: 8px
}
.register .register-input .skin-text-clear-focus {
	BORDER-BOTTOM-COLOR: #c5c5c5; BORDER-TOP-COLOR: #c5c5c5; BORDER-RIGHT-COLOR: #c5c5c5; BORDER-LEFT-COLOR: #c5c5c5
}
.register .register-input .register-placeholder {
	POSITION: absolute; LINE-HEIGHT: 12px; HEIGHT: 14px; COLOR: #ccc; FONT-SIZE: 12px; TOP: 9px; LEFT: 10px
}
.register .register-input-focus {
	BORDER-BOTTOM: #e5f2fb 2px solid; BORDER-LEFT: #e5f2fb 2px solid; BORDER-TOP: #e5f2fb 2px solid; BORDER-RIGHT: #e5f2fb 2px solid
}
.register #domainWrapper .ui-text {
	PADDING-RIGHT: 92px
}
.register #domainLabel {
	POSITION: absolute; FONT-SIZE: 12px; TOP: 9px; RIGHT: 10px
}
.register .register-submit {
	PADDING-BOTTOM: 14px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.register .register-submit .ui-button {
	MARGIN: 0px auto
}
.register .register-warning-wrapper {
	BORDER-BOTTOM: #e9e4b4 1px solid; LINE-HEIGHT: 24px; MARGIN-BOTTOM: 10px; BACKGROUND: #fff9c5; HEIGHT: 24px; FONT-SIZE: 12px
}
.register .register-warning-wrapper .register-warning {
	MARGIN: 0px auto; WIDTH: 246px; COLOR: #be8b33
}
.register-third-h {
	POSITION: relative; BACKGROUND: #f6f6f6; TOP: -4px; MARGIN-RIGHT: 86px; box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3)
}
.register-third {
	POSITION: relative; TEXT-ALIGN: left; PADDING-BOTTOM: 4px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; WIDTH: 245px; PADDING-RIGHT: 10px; ZOOM: 1; FLOAT: right; HEIGHT: 20px; PADDING-TOP: 4px
}
.register-third .tip {
	COLOR: #ccc
}
.register-third .login-icon {
	BACKGROUND-IMAGE: url(/img/icon/comment-notes.$6311.png); POSITION: absolute; TEXT-INDENT: -9999px; WIDTH: 18px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 20px; OVERFLOW: hidden; TOP: 5px
}
.register-third A.login-dd {
	BACKGROUND-POSITION: 2px 0px; RIGHT: 85px
}
.register-third A.login-dd:hover {
	BACKGROUND-POSITION: 2px -20px
}
.register-third A.login-sina {
	BACKGROUND-POSITION: -71px 0px; RIGHT: 60px
}
.register-third A.login-sina:hover {
	BACKGROUND-POSITION: -71px -20px
}
.register-third A.login-renren {
	BACKGROUND-POSITION: -46px 0px; RIGHT: 35px
}
.register-third A.login-renren:hover {
	BACKGROUND-POSITION: -46px -20px
}
.register-third A.login-qq {
	DISPLAY: none; BACKGROUND-POSITION: -22px 0px; RIGHT: 35px
}
.register-third A.login-qq:hover {
	BACKGROUND-POSITION: -22px -20px
}
.register-third A.login-douban {
	BACKGROUND-POSITION: -96px 0px; RIGHT: 10px
}
.register-third A.login-douban:hover {
	BACKGROUND-POSITION: -96px -20px
}
.register-third .register-third-logout {
	COLOR: #8f8f8f; MARGIN-RIGHT: 10px
}
.register-third .register-third-logout A {
	COLOR: #8f8f8f
}
.register-third .register-third-logout A:hover {
	COLOR: #444
}
.register-third .register-third-sync INPUT {
	VERTICAL-ALIGN: middle
}
#register-third-to .register-third {
	TEXT-ALIGN: right; WIDTH: auto
}
.not-login-msg {
	TEXT-ALIGN: center; LINE-HEIGHT: 25px; MARGIN-TOP: 10px; BACKGROUND: #fff9c5; HEIGHT: 25px; COLOR: #444
}
.list-container {
	POSITION: relative; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; DISPLAY: none; PADDING-TOP: 5px
}
.list-container A {
	TEXT-DECORATION: underline
}
.list-container .other {
	POSITION: absolute; BOTTOM: -6px; RIGHT: 0px
}
.list-container .other A.more {
	FILTER: alpha(opacity=20); TEXT-INDENT: -9999px; WIDTH: 13px; BACKGROUND: url(/img/theme/notes/corner.$5627.png) no-repeat 0px -30px; FLOAT: right; HEIGHT: 8px; OVERFLOW: hidden; opacity: 0.20; -moz-opacity: 0.20
}
.list-container .other A.more:hover {
	FILTER: alpha(opacity=50); opacity: 0.50; -moz-opacity: 0.50
}
.item-container {
	POSITION: relative; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; PADDING-TOP: 5px
}
.item-container .avatar {
	POSITION: absolute; TOP: 5px; LEFT: 0px
}
.item-container .avatar IMG {
	WIDTH: 20px; DISPLAY: block; HEIGHT: 20px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4)
}
.item-container .photo {
	Z-INDEX: 2; PADDING-BOTTOM: 3px; MARGIN: 10px 0px 0px 30px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; BACKGROUND: #fff; OVERFLOW: hidden; PADDING-TOP: 3px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.5)
}
.item-container .photo .photo-i {
	OVERFLOW: hidden
}
.item-container .photo IMG {
	DISPLAY: block; CURSOR: pointer
}
.item-container .info {
	PADDING-BOTTOM: 1px; LINE-HEIGHT: 18px; PADDING-LEFT: 30px; PADDING-RIGHT: 100px; PADDING-TOP: 1px
}
.item-container .operation {
	POSITION: absolute; LINE-HEIGHT: 20px; TOP: 5px; RIGHT: 0px
}
.item-container .operation A {
	DISPLAY: inline; FLOAT: right; MARGIN-LEFT: 6px; TEXT-DECORATION: none
}
.item-container .operation A:hover {
	TEXT-DECORATION: underline
}
.notes-item .content {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.6em; PADDING-LEFT: 30px; PADDING-RIGHT: 0px; PADDING-TOP: 6px
}
.notes-item .info {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 30px; PADDING-RIGHT: 70px; PADDING-TOP: 1px
}
#photo-reply {
	POSITION: absolute; BOTTOM: 15px; RIGHT: 100px
}
